{% extends 'mainsite/index.html' %}
{% load static %}
{% block mainsite_content %}

<link rel="stylesheet" href="{% static 'registration/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">
		
		<!-- STYLE CSS -->
<link rel="stylesheet" href="{% static 'registration/css/style.css' %}">



		<div class="wrapper" style="background-image: url('{% static 'registration/images/bg-registration-form-2.jpg' %}');">
			<div class="inner" style="width: 800px; height: 600px; background-size: cover; background-position: center; background-image: url('{% static 'registration/images/registration-form-2.jpg' %}');">
				<form action="">
					<h3>Registration Form</h3>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="">First Name</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-wrapper">
							<label for="">Last Name</label>
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="form-wrapper">
						<label for="">Email</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-wrapper">
						<label for="">Password</label>
						<input type="password" class="form-control">
					</div>
					<div class="form-wrapper">
						<label for="">Confirm Password</label>
						<input type="password" class="form-control">
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> I accept the Terms of Use & Privacy Policy.
							<span class="checkmark"></span>
						</label>
					</div>
					<button>Register Now</button>
				</form>
			</div>
		</div>

{% endblock mainsite_content %}