# Excluding the virtual environment from pushing into git.
myenv/

__pycache__/
# Ignore all files in the migrations folder
**/migrations/*

# Except for __init__.py, which should be included
!**/migrations/__init__.py

# # Ignore all files within notification folder
**/media/notification/*

# # Ignore all files within attached_proofs folder
**/media/attached_proofs/*

# Ignore all files within attached_signature folder
**/media/attached_signature/*

# Ignore all files within attendance_sheets folder
**/media/attendance_sheets/*

# Ignore all files within documents folder
**/media/documents/*

# Ignore all files within hod_signature folder
**/media/hod_signature/*

# Ignore all files within notification folder
**/media/notification/*

# Ignore all files within office_signatures folder
**/media/office_signatures/*

# Ignore all files within profile_pic folder
**/media/profile_pic/*

# Ignore all files within staff_signatures folder
**/media/staff_signatures/*