{% extends 'staff_incharge/index.html' %}
{% load static %}
{% block staff_incharge_content %}


<div class="main-content" >
    <div id="removeNotificationModal" class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Default form</h4>
                        <form action="{% url 'add_notification' %}" method="POST" class="forms-sample" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputUsername1">Notification Header</label>
                                <input type="text" name="heading" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Add Date</label>
                                <input type="date" name="date" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Description</label>
                                <textarea class="form-control" name="description" id=""></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputUsername1">Document</label>
                                <input class="form-control" type="file" name="document" id="">
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">View FeedBack</h4>
                            <div class="table-responsive" style="max-height: 300px;">
                                <table class="table align-middle table-striped-columns table-hover table-nowrap mb-0" border="1px solid">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Notification Heading</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Documents</th>
                                            <th scope="col">Edit</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for n in notification %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{n.heading}}</td>
                                            <td>{{n.date|date}}</td>
                                            <td>{{n.description}}</td>
                                            <td>
                                                <a target="_blank" href="/{{n.document}}"><button type="button" class="btn btn-primary">View</button></a>
                                            </td>
                                            <td><button type="button" class="btn btn-warning">Edit</button></td>
                                            <td><button type="button" class="btn btn-danger">Delete</button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}