<table class="table table-striped">
    <thead>
        <tr>
            <th>SR No.</th>
            <th>Comment</th>
            <th>Submitted Date</th>
            <th>Flag Reason</th>
            <th>Flag Status</th>
        </tr>
    </thead>
    <tbody>
        {% for t in feeds_app %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ t.comment }}</td>
            <td>{{ t.submitted_date }}</td>
            <td>{{ t.flag_reason }}</td>
            <td>
                {% if t.is_flaged == 1 %}
                    ❌
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">No Flagged Feedbacks Found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
