{% extends 'staff_advisor/index.html' %}
{% load static %}
{% block staff_advisor_content %}
<!-- Material Design Icons -->
<link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">

<!-- Remix Icons -->
<link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">


<!-- Bootstrap Bundle JS (includes Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<style>
    .modal-header{
        background-color: #225160;
        height: 65px;

    }
    .modal-title {
        color: #ffffff; /* Replace #333 with your desired color */
    }

</style>
<div class="main-content" >
 <div id="removeNotificationModal" class="page-content">
   <div class="container-fluid">
                <!-- ===========================Message Box In HTML============================= -->
                <div >
                    <div class="row">
                        <div class="col-lg-12 d-flex justify-content-end" style="position: absolute; z-index: 2; right: 1%;">
                            {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show collapse" role="alert">
                                    {{ message|safe }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- ========================Message Box End===================================== -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-height-100">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">View Applications </h4>
                </div><!-- end card header -->
               

                <div class="card-body">
                   

                    <div class="table-responsive" style="max-height: 300px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Application No</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Email Address</th>
                                    <th scope="col">Course</th>
                                    <th scope="col">Branch</th>
                                    <th scope="col">Apply For</th>
                                  
                                    <th scope="col">Staff Approval Status</th>
                                    <th scope="col">Staff Remark</th>
                                  <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entry in application_details %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ entry.student_application_no }}</td>
                                    <td>{{ entry.full_name }}</td>
                                    <td>{{ entry.student_email_address }}</td>
                                    <td>{{ entry.course }}</td>
                                    <td>{{ entry.branch }}</td>
                                    <td>{{ entry.apply_for }}</td>
                                    <!-- <td>{{ entry.staff_approval_status }}</td> -->
                                     <td>
                                        <label class="badge 
                                                {% if entry.staff_approval_status == 'Approved' %} badge-success
                                                {% elif entry.staff_approval_status == 'Rejected' %} badge-danger
                                                {% else %} badge-warning {% endif %}">
                                            {{ entry.staff_approval_status}}
                                        </label>
                                     </td>
                                    <td>{{ entry.staff_advisor_remark }}</td>
                                    <!-- <td>{{ entry.office_approval_status }}</td> -->
                                    
                                 
                                    <td>
                                        <a href="#" class="link-success fs-15">
                                            <i class="ri-arrow-left-right-line" data-bs-toggle="modal" data-bs-target="#ChangeStatusModal{{ entry.pk }}" title="Change Status"></i>
                                        </a>
                                        <a class="text-body me-1 fs-15 fw-medium" href="#" title="Review Application" data-bs-toggle="modal" data-bs-target="#EditidModal{{ entry.pk }}">
                                            <i class="ri-edit-box-line text-info me-1"></i>
                                        </a>
                                       
                                    </td>
                                    <!-- ==================INNER MODELS======================= -->
                                    <!-- =========EDIT SignUp Email Modal =============== -->
                                    <div id="EditidModal{{ entry.pk }}" class="modal fade" tabindex="-1" aria-labelledby="EditidModal" aria-hidden="true"  style="transform: translateY(-8%);">
                                        <div class="modal-dialog modal-dialog-centered modal-lg" >  <!-- Wider Modal -->
                                            <div class="modal-content border-0 shadow-lg rounded-lg">
                                                <div class="modal-header bg-primary text-white">
                                                    <h5 class="modal-title">Review Application Details and Update Staff Advisor Remarks and Signature</h5>
                                                   
                                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'update_staff_remark' entry.pk %}" method="post" enctype="multipart/form-data">

                                                        {% csrf_token %}
                                                        <input type="hidden" name="admin_pk" value="{{ entry.id }}">
                                    
                                                        <div class="row">
                                                            <!-- First Row -->
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">Application No</label>
                                                                <input type="text" class="form-control" value="{{ entry.student_application_no }}" readonly>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">Full Name</label>
                                                                <input type="text" class="form-control" value="{{ entry.full_name }}" readonly>
                                                            </div>
                                    
                                                            <!-- Second Row -->
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">Gender</label>
                                                                <input type="text" class="form-control" value="{{ entry.gender }}" readonly>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">Phone Number</label>
                                                                <input type="text" class="form-control" value="{{ entry.phone_number }}" readonly>
                                                            </div>
                                    
                                                            <!-- Third Row -->
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">Email</label>
                                                                <input type="email" class="form-control" value="{{ entry.student_email_address }}" readonly>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">Admission No</label>
                                                                <input type="text" class="form-control" value="{{ entry.admission_no }}" readonly>
                                                            </div>
                                    
                                                            <!-- Fourth Row -->
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">Admission Date</label>
                                                                <input type="text" class="form-control" value="{{ entry.admission_date }}" readonly>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">University</label>
                                                                <input type="text" class="form-control" value="{{ entry.university }}" readonly>
                                                            </div>
                                    
                                                            <!-- Fifth Row -->
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">University Reg. No</label>
                                                                <input type="text" class="form-control" value="{{ entry.university_reg_no }}" readonly>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">Semester</label>
                                                                <input type="text" class="form-control" value="{{ entry.semester }}" readonly>
                                                            </div>
                                    
                                                            <!-- Sixth Row -->
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">Hostel Name</label>
                                                                <input type="text" class="form-control" value="{{ entry.hostel_name }}" readonly>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">Hostel Admission Date</label>
                                                                <input type="text" class="form-control" value="{{ entry.hostel_admission_date }}" readonly>
                                                            </div>
                                    
                                                            <!-- Seventh Row -->
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">TC No</label>
                                                                <input type="text" class="form-control" value="{{ entry.tc_no }}" readonly>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">TC Date</label>
                                                                <input type="text" class="form-control" value="{{ entry.tc_date }}" readonly>
                                                            </div>
                                    
                                                            <!-- Eighth Row -->
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">Apply For</label>
                                                                <input type="text" class="form-control" value="{{ entry.apply_for }}" readonly>
                                                            </div>
                                                            <!-- Reason (Document or Message) -->
                                                            <div class="col-md-6 mb-3">
                                                                <label class="form-label fw-semibold">Reason</label><br>
                                                                {% if entry.reason %}
                                                                    <a href="/{{ entry.reason }}" target="_blank" class="btn btn-primary btn-sm">View Reason</a>
                                                                {% else %}
                                                                    <button class="btn btn-secondary btn-sm" disabled>No Reason Provided</button>
                                                                {% endif %}
                                                            </div>
                                                            
                                                             <!-- Course and Branch -->
                                                                <div class="col-md-6 mb-3">
                                                                    <label class="form-label fw-semibold">Course</label>
                                                                    <input type="text" class="form-control" value="{{ entry.course }}" readonly>
                                                                </div>
                                                                <div class="col-md-6 mb-3">
                                                                    <label class="form-label fw-semibold">Branch</label>
                                                                    <input type="text" class="form-control" value="{{ entry.branch }}" readonly>
                                                                </div>

                                                                <!-- Staff Advisor Remark (Editable) -->
                                                                <div class="col-md-6 mb-3">
                                                                    <label class="form-label fw-semibold">Staff Advisor Remark</label>
                                                                    <textarea class="form-control" name="staff_advisor_remark" rows="2" required placeholder="Enter your remarks" style="height: 49px;">{% if entry.staff_advisor_remark %}{{ entry.staff_advisor_remark }}{% endif %}</textarea>
                                                                </div>

                                                                <!-- Staff Advisor Signature (Upload or Display Existing) -->
                                                                <div class="col-md-6 mb-3">
                                                                    <label class="form-label fw-semibold">Upload Staff Advisor Signature *</label>
                                                                    
                                                                    {% if entry.staff_advisor_signature_url %}
                                                                        <div>
                                                                            <img src="/{{ entry.staff_advisor_signature_url }}" 
                                                                                alt="Staff Advisor Signature"
                                                                                style="max-width: 100%; height: auto; border: 1px solid #ddd; padding: 5px;">
                                                                        </div>
                                                                    {% endif %}
                                                                    
                                                                    <input type="file" class="form-control mt-2" name="staff_advisor_signature" accept="image/*" required>
                                                                </div>


                                                                <!-- Application Status -->
                                                                <div class="col-md-6 mb-3">
                                                                    <label class="form-label fw-semibold">Application Status</label>
                                                                    <input type="text" class="form-control" value="{{ entry.application_status }}" readonly>
                                                                </div>
                                                        </div>
                                    
                                                        <div class="d-flex justify-content-end gap-2">
                                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- =========EDIT SignUp Email Modal END=============== -->

                                  
                                    <!-- Change Status Modal -->
                                    <div id="ChangeStatusModal{{ entry.pk }}" class="modal fade" tabindex="-1" aria-labelledby="ChangeStatusModal" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-md">
                                            <div class="modal-content border-0 shadow-lg">

                                                <!-- Modal Header -->
                                                <div class="modal-header bg-primary text-white">
                                                    <h5 class="modal-title fw-bold">Change Status</h5>
                                                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>

                                                <!-- Modal Body -->
                                                <div class="modal-body">
                                                    <form action="{% url 'approval_status_staff_advisor' entry.pk %}" method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="application_id" value="{{ entry.pk }}">

                                                        <!-- Status Dropdown -->
                                                        <div class="mb-3">
                                                            <label class="form-label fw-semibold">Change Status</label>
                                                            <select class="form-select border rounded-3 py-1 px-3 fs-5" name="staff_advisor_status">
                                                                <option value="Approved">Approve</option>
                                                                <option value="Rejected">Reject</option>
                                                            </select>
                                                        </div>

                                                        <!-- Modal Footer Buttons -->
                                                        <div class="d-flex justify-content-end gap-2">
                                                            <button type="button" class="btn btn-light px-4" data-bs-dismiss="modal">
                                                                <i class="bi bi-x-circle"></i> Close
                                                            </button>
                                                            <button type="submit" class="btn btn-primary px-4">
                                                                <i class="bi bi-check-circle"></i> Change Status
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    
                                    <!--end of status modal-->

                                    <!-- ==================INNER MODELS======================= -->
                                </tr><!-- end tr -->
                                {% endfor %}
                               
                               
                            </tbody><!-- end tbody -->
                        </table><!-- end table -->
                    </div>
                </div><!-- end cardbody -->
            </div><!-- end card -->
        </div><!-- end col -->

     
    </div>
</div>
</div>
</div>


<!-- ===================Alert Fade Out Script==================== -->
<script src="{% static 'main_admin/assets/js/jquery_3.6.3.min.js' %}"></script>
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 4000);
</script>
<!-- ==========ALERT BOX FADEOUT============= -->





{% endblock %}